.FixedBackground {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("../Images/Menu/Principal1.png");
  background-size: 100% 100%;
}

.MovingBackground {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("../Images/Menu/Principal2.png");

  animation: Moving-background-translate 20s linear infinite;
}

@keyframes Moving-background-translate {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 100%, 0;
  }
}

.Header {
  position: absolute;

  width: 12%;
  height: 20%;

  top: 5%;
  left: 44%;

  background-image: url("../Images/Shiro.png");
  background-size: 100% 100%;
}

.Border3 {
  position: absolute;

  width: 20%;
  height: 30%;

  top: 45%;
  left: 40%;

  border-radius: 5%;

  background-color: rgb(75, 49, 41);
}

.Border2 {
  position: absolute;

  width: 94%;
  height: 94%;

  top: 3%;
  left: 3%;

  border-radius: 5%;

  background-color: rgb(170, 128, 95);
}

.Border1 {
  position: absolute;

  width: 94%;
  height: 94%;

  top: 3%;
  left: 3%;

  border-radius: 5%;

  background-color: rgb(255, 241, 210);
}

.Contenu {
  position: absolute;

  width: 94%;
  height: 94%;

  top: 3%;
  left: 3%;

  border-radius: 5%;

  background-color: rgb(240, 216, 181);
}

.PrincipalButton1 {
  position: absolute;

  width: 100%;
  height: 30%;

  top: 2%;

  background: none;
  border: none;

  cursor:pointer;
}

.PrincipalButton1:hover {
  background-color: rgb(230, 206, 171);
}

.PrincipalButton1:active {
  background-color: rgb(220, 196, 161);
}

.PrincipalButton2 {
  position: absolute;

  width: 100%;
  height: 30%;

  top: 35%;

  background: none;
  border: none;

  cursor:pointer;
}

.PrincipalButton2:hover {
  background-color: rgb(230, 206, 171);
}

.PrincipalButton2:active {
  background-color: rgb(220, 196, 161);
}

.PrincipalButton3 {
  position: absolute;

  width: 100%;
  height: 30%;

  top: 68%;

  background: none;
  border: none;

  cursor:pointer;
}

.PrincipalButton3:hover {
  background-color: rgb(230, 206, 171);
}

.PrincipalButton3:active {
  background-color: rgb(220, 196, 161);
}

.PlayButton {
  position: absolute;

  width: 26%;
  height: 100%;

  top: 0%;
  left: 0%;

  margin: 0;
  padding: 0;

  background-image: url("../Images/Boutons/carte.png");
  background-size: 100% 100%;
}

.OptionsButton {
  position: absolute;

  width: 26%;
  height: 100%;

  top: 0%;
  left: 0%;

  margin: 0;
  padding: 0;

  background-image: url("../Images/Boutons/outils.png");
  background-size: 100% 100%;
}

.DataBaseButton {
  position: absolute;

  width: 26%;
  height: 100%;

  top: 0%;
  left: 0%;

  margin: 0;
  padding: 0;

  background-image: url("../Images/Boutons/sac.png");
  background-size: 100% 100%;
}

.Text {
  position: absolute;

  width: 74%;

  top: 40%;
  left: 26%;

  text-align: center;
  font-size: 2vh;
}